.about {
  display: flex;
  flex-wrap: wrap;
}
.about .left img {
  height: 400px;
}
.about .left {
  flex-basis: 50%;
}
.about .right {
  flex-basis: 50%;
}
.about .right h4 {
  color: #ff6a3d;
}
.about .right h1 {
  color: white;
  font-size: 35px;
}
.about .right p {
  color: white;
  margin: 30px 0;
}
