.colors {
  color: #1a2238;
  color: #9daaf2;
  color: #ff6a3d;
  color: #f4db7d;
}
html {
  scroll-behavior: smooth;
}
h1 {
  text-shadow: #ff6a3d 2px 3px 1px;
}
a {
  text-decoration: none;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
  /* display: flex;
  justify-content: center; */
}
ul li {
  list-style: none;
}
body {
  background-color: #1a2238;
}
.cmn-btn {
  position: relative;
  background-color: transparent;
  color: #ff6a3d;
  font-size: 15px;
  border: 2px solid #ff6a3d;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.25s;
}
.cmn-btn:hover {
  color: white;
  border: 2px solid transparent;
}
.cmn-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ff6a3d;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}
.cmn-btn:hover::before {
  transform: scaleX(1);
}
@media (max-width: 1010px) {
  h1 {
    font-size: 35px;
  }
  .container {
    padding: 40px 20px;
  }
  .cmn-btn {
    position: relative;
    background-color: transparent;
    color: #ff6a3d;
    font-size: 12px;
    border: 2px solid #ff6a3d;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.25s;
  }
  .top {
    text-align: center;
  }

  h4 {
    margin-bottom: 20px;
  }
}
