.header {
  position: fixed;
  top: -49px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2238;
  padding-bottom: 30px;
  z-index: 9;
}
.header h3 {
  filter: drop-shadow(0px 2px 11px #ff6a3d);
  font-size: 20px;
  animation: blur 1s linear infinite;
}
@keyframes blur {
  0% {
    filter: drop-shadow(0px 2px 11px #ff6a3d);
  }
  25% {
    filter: drop-shadow(0px 2px 5px #ff6a3d);
  }
  50% {
    filter: drop-shadow(0px 2px 11px #ff6a3d);
  }
  75% {
    filter: drop-shadow(0px 2px 7px #ff6a3d);
  }
  100% {
    filter: drop-shadow(0px 2px 11px #ff6a3d);
  }
}
.right ul {
  display: flex;
  gap: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
header .left h3 {
  font-size: 35px;
  color: #ff6a3d;
}
ul a {
  border: 2px solid transparent;
  transition: all 0.5s;
}
ul a:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 1010px) {
  .right ul {
    display: none;
  }
  .header {
    justify-content: center;
  }
}
