.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* height: 70vh; */
  justify-content: space-between;
  margin-top: 80px;
}
.home .left {
  flex-basis: 50%;
}
.home .right {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
.home .right img {
  height: 400px;
}
.home-text {
  padding-left: 100px;
}
.home h1 {
  color: transparent;
  font-size: 65px;
  position: relative;
  display: inline-block;
  text-shadow: unset;
}

.home h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #ff6a3d;
  border-right: 4px solid #ff6a3d;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  20% {
    width: 50%;
  }
  40% {
    width: 30%;
  }
  60% {
    width: 100%;
  }
  80% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
.home h2 {
  color: white;
  margin: 30px 0;
  font-size: 35px;
  max-width: 450px;
  position: relative;
  color: white;
  animation: appear 2s ease-in-out;
}
@keyframes appear {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@media (max-width: 1010px) {
  .home {
    justify-content: space-evenly;
    gap: 80px;
  }
  .home h1 {
    font-size: 50px;
  }
  .home h2 {
    font-size: 35px;
    margin: 70px 0;
  }
  .home-text {
    padding-left: 0;
    text-align: center;
  }
  .home .right img {
    height: 280px;
  }
}
